<mat-card class="card-about">
  <mat-card-header>
    <mat-card-title>About Blog</mat-card-title>
    <mat-card-subtitle>Version 1.0.0</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
      perspiciatis omnis veritatis ullam, ratione cumque, quam saepe dolore
      voluptatum nesciunt recusandae aperiam voluptates nobis. Laboriosam
      aspernatur sint illo quidem ullam. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Assumenda perspiciatis omnis veritatis ullam, ratione
      cumque, quam saepe dolore voluptatum nesciunt recusandae aperiam
      voluptates nobis. Laboriosam aspernatur sint illo quidem ullam. Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Assumenda perspiciatis
      omnis veritatis ullam, ratione cumque, quam saepe dolore voluptatum
      nesciunt recusandae aperiam voluptates nobis. Laboriosam aspernatur sint
      illo quidem ullam. Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Assumenda perspiciatis omnis veritatis ullam, ratione cumque, quam
      saepe dolore voluptatum nesciunt recusandae aperiam voluptates nobis.
      Laboriosam aspernatur sint illo quidem ullam.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
      perspiciatis omnis veritatis ullam, ratione cumque, quam saepe dolore
      voluptatum nesciunt recusandae aperiam voluptates nobis. Laboriosam
      aspernatur sint illo quidem ullam. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Assumenda perspiciatis omnis veritatis ullam, ratione
      cumque, quam saepe dolore voluptatum nesciunt recusandae aperiam
      voluptates nobis. Laboriosam aspernatur sint illo quidem ullam. Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Assumenda perspiciatis
      omnis veritatis ullam, ratione cumque, quam saepe dolore voluptatum
      nesciunt recusandae aperiam voluptates nobis. Laboriosam aspernatur sint
      illo quidem ullam. Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Assumenda perspiciatis omnis veritatis ullam, ratione cumque, quam
      saepe dolore voluptatum nesciunt recusandae aperiam voluptates nobis.
      Laboriosam aspernatur sint illo quidem ullam.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
      perspiciatis omnis veritatis ullam, ratione cumque, quam saepe dolore
      voluptatum nesciunt recusandae aperiam voluptates nobis. Laboriosam
      aspernatur sint illo quidem ullam. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Assumenda perspiciatis omnis veritatis ullam, ratione
      cumque, quam saepe dolore voluptatum nesciunt recusandae aperiam
      voluptates nobis. Laboriosam aspernatur sint illo quidem ullam. Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Assumenda perspiciatis
      omnis veritatis ullam, ratione cumque, quam saepe dolore voluptatum
      nesciunt recusandae aperiam voluptates nobis. Laboriosam aspernatur sint
      illo quidem ullam. Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Assumenda perspiciatis omnis veritatis ullam, ratione cumque, quam
      saepe dolore voluptatum nesciunt recusandae aperiam voluptates nobis.
      Laboriosam aspernatur sint illo quidem ullam.
    </p>
  </mat-card-content>
</mat-card>
